@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    box-sizing: border-box;
  }
  
body {
    background-color: #b0e0e6;
    color:#000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;

}
.booking-steps 
{
        background: #ffffff;
        width: 80%;
        padding: 5px 10px;
        border-radius: 5px;
        color: #777;
        display: flex;
        justify-content: space-between;
      
}
.booking-details
{
    padding: 5px 10px;
    width: 200px;
    display: inline-block;
}
.seat {
    background-color: #00ff00;
    height: 40px;
    width: 70px;
    margin: 14px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: row;
  }
  
  .seat.selected {
    background-color: #ff0000;
  }
  
  .seat.occupied {
    background-color: #808080;
  }
  
 
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  
