#head
{
    background-color: powderblue;
    padding: 20px;
}
#title1
{
    border : 5px solid lightgreen;
    padding : 20px;
    width: 70%;
    display: inline-block;
}
#title2
{
    border : 5px solid lightgreen;
    padding : 20px;
    width:70%;
    display: inline-block;
}
#module
{
    background-color: lightpink;
    float: right;
    width: 329px;
    height: 288px;
    padding: 10px;
}
