h1
{
    color: blue;
    display :inline;
    text-align: start;
    float: left;        
}

#topnav 
{
    overflow: hidden;
    background-color:lightyellow;
}
#topnav a 
{
    float: right;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#topnav a:hover 
{
    background-color: #ddd;
    color:lightblue;
}
input{
    width: 20%;
    padding: 2px;
}
#highlight
{
    overflow: hidden;
    background-color:pink;
}
  

#highlight a input
{
    float: left;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#highlight a:hover 
{
    background-color: #ddd;
    color:blue;
}
.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightpink;
    color: white;
    text-align: center;
}
#breakingnews
{
  color:white;
  background-color: red;
  display:block;
}
.news
{
  background-color:pink;
}
