#main
{
  border : 2px solid black;
  width: 100%;
  height : 400px;

}
.navbar {
    overflow: hidden;
    background-color: #b0e0ef;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #0000FF;
    text-align: center;
    padding: 14px 16px;
    display: block;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;

  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #0000ff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ff0000;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b0e0ef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #0000FF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  img
  {
    border: 2px solid #000000;
    width: 200px;
    height: 200px;
    padding: 30px;
    margin: 20px;
    float: left;
  }
  #content
  {
    padding: 30px;
    margin: 20px;
  }