h1{
    position: relative;
}
.heading
{
    width: 700px;
    height: 50px;
    padding: 10px;
    border: 2px solid black;
}
#page
{
    width: 800px;
    height: 100px;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
}
.header img {
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid black;
  }
.header h1 
{
    position: relative;
    top: 18px;
    left: 10px;
}
img {
    float: right;
    width: 346px;
    height: 390px;
    border: 2px solid black;
  }
  .container
{
    width: 800px;;
    height: 400px;
    padding: 10px;
    border: 2px solid black;
    float: left;
    margin: 5px;
}
#about
{
    width: 400px;;
    height: 400px;
    padding: 10px;
    float: left;
    margin: 5px;
}
strong
{
    display: block;
    margin-bottom: 10px;
}
a:active,a:hover
{
    color: red;
}