h1{
    position: relative;
}
.whole
{
    font-family: "Open sans";
}
.heading
{
    width: 700px;
    height: 50px;
    padding: 10px;
    border: 2px solid black;
}
#page
{
    width: 800px;
    height: 100px;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
}
.header img {
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid black;
  }
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

.container
{
    width: 200px;;
    height: 400px;
    padding: 10px;
    border: 2px solid black;
    float: left;
    margin: 5px;
}
.container a
{
    margin-left: 40px;
   padding: 10px;
   margin-bottom: 15px;
   margin-top: 35px;
   float: left;
}
.intro
{
    width: 560px;
    height: 400px;
    padding: 10px;
    float: left;
    border: 2px dashed black;
    margin: 5px;
    overflow-y: scroll;
}
a:active,a:hover
{
    color: red;
}