
.split
{
        height: 100%;
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px
}
.left
{
    background-color: grey;
}
.right {
    right: 0;
    background-color:white;
    width: 80%;
    height: 100%;
    padding:10px;
  
}
h1 
{
    color:white;
    width: 40%;
    padding: 10px;
}
h3
{
    color:white;
    width: 40%;
    padding: 10px;
}
img
{
    border-radius: 20px;
}