*
{
    box-sizing: border-box;
}
@keyframes fade {
    0%{ opacity: 1 }
    20% {
        opacity: 0 }
    40% {
        opacity: 1
    }
    60%{ opacity: 0}
    80%{ opacity: 1}
    100% { opacity: 0}
}
.container{
    width: 800px;
    height: 600px;
    border: 2px #000000 solid;
    position: absolute;
    display: inline-block;
}
h1
{
    color: #ff0000;
    text-align: center;
}
.red
{
    height: 20px;
    width: 20px;
    padding: 20px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    opacity: 0;
    animation: fade 100s linear;
    position: absolute;
    animation-duration: 60s;
}
.voilet
{
    height: 18px;
    width: 18px;
    padding: 20px;
    margin-left: 5px;
    background-color: #ee82ee;
    border-radius: 50%;
    opacity: 0;
    animation: fade 40s linear;
    position: absolute;
}
.green
{
    height: 14px;
    width: 14px;
    padding: 20px;
    margin-left: 5px;
    background-color: #00ff00;
    border-radius: 50%;
    opacity: 0;
    animation: fade 50s linear;
    position: absolute;
}
.yellow
{
    height: 16px;
    width: 16px;
    padding: 20px;
    margin-left: 5px;
    background-color: #ffff00;
    border-radius: 50%;
    opacity: 0;
    animation: fade 20s linear;
    position: absolute;
}
.blue
{
    height: 18px;
    width: 18px;
    padding: 20px;
    margin-left: 5px;
    background-color: #0000ff;
    border-radius: 50%;
    opacity: 0;
    animation: fade 30s linear;
    position: absolute;
}
.result
{
    border: 2px #000000 solid;
    text-align: center;
    padding: 190px;
    width: 500px;
    height: 600px;
    float : right;
}