body
 {
    position: absolute;
    width: 100px;
    height: 100px;
    
    background: #000000;
 }
#box1
 {
    position: absolute;
    width: 20%;
    height: 30%;
    left: 1%;
    top: 1%;
    background: #FFFFCC;
 }
#box2
{
    position: absolute;
    width: 20%;
    height: 40%;
    left: 1%;
    top: 40%;
    background: #FFFFCC;
    }
#box3 
{
    position: absolute;
    width: 20%;
    height: 20%;
    left: 1%;
    top: 85%;
    background: #6666FF;
}
#box4 
{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 25%;
    top: 1%;
    background: #FF471A;
}
#box5 
{
    position: absolute;
    width: 75%;
    height: 20%;
    left: 25%;
    top: 85%;
    background: #FFFFCC;
}
#box6 
{
    position: absolute;
    width: 3%;
    height: 7%;
    left: 102%;
    top: 85%;
    background: #FFFFCC;
}
#box7 
{
    position: absolute;
    width: 3%;
    height: 7%;
    left: 102%;
    top: 98%;
    background: #FFFF4D;
}