*{
    box-sizing: border-box;
} 

.navbar
{
    overflow: hidden;
    background-color: #808080;
    height: 81px;
    border: 2px #000000 solid;
}
#nav-heading
{
    float: left;
    margin: 11px;
    width: 337px;
}
#nav-items {
    float: left;
    width: 709px;
    height: 80px;
    background-color: #ffffff;
    text-align: center;
    border: 5px black;
  }
#nav-items a
{
    float: left;
    color: #000000;
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 28px 72px;

}
#nav-items a:hover{
    background-color: #0000FF;
    color: #ffffff;
}
#nav-login
  {
      float : right;
      margin: 10px;
      padding: 17px;
      margin-right: 115px;
}
.container
{
    width: 100%;
    margin: auto;
    border: 2px #000000 solid;
    background-color: #a9a9a9;
}
#container-heading
{
    width: 75%;
    height: 300px;
    margin: 20px;
    margin-left: 200px;
    padding: 20px;
    border: 2px #000000 solid;
    text-align: center;
    background-color: #ffffff;
    font-size: large;
}

h1
{
  padding: 20px;
  margin: 15px;
}
#container-facilities
{
    width: 38%;
    height: 600px;
    border: 2px #000000 solid;
    margin: 7px;
    margin-left: 280px;
    padding : 10px;
    display: inline-block;
    background-color: #ffffff;
}
#container-facilities-items
{
    border : 1px #000000 solid;
    display: grid;
    grid-template-columns: auto auto ;
    width: 520px;
    margin: 21px;
    padding: 9px;
} 
#items
{
    width: 220px;
    height: 200px;
    border : 1px #000000 solid;
    padding: 10px;
    margin: 10px;
}
#items img
{
    display: inline;
    float: left;
}
#items h3
{
  width:100px;
  float:left;
}
#items span{
    width: 210px;
    float: left;
}
#container-events
{  
    float: right;
    height: 600px;
    width: 18%;
    margin: 7px;
    padding: 63px;
    margin-right:360px;
    border: 2px #000000 solid;
    display: inline-block;
    background-color: #ffffff;
}
.footer
{
    width: 100%;
    border: 2px #000000 solid;
    padding: 20px;
}
#footer-menu
{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    margin: 10px;
}
#footer-menu-about  
{
    width: 40%;
}
#footer-menu-market
{
    width: 40%;
}
#footer-menu-contact
{
    width: 40%;
}
#footer-menu-platform
{
    width: 40%;
} 
#footer-default a
{
    margin: 10px;
    padding: 10px;
}
#footer-default-global
{
 float: right
}
