*{
    box-sizing: border-box;
} 
h1{
    color: #ff0000;
    text-align: center;
}
form
{
    background-color: #f5f5dc;
}
table
{
    border: 2px #000000 solid;
    background-color: #b0e0e6;

}
th
{
  margin: 10px;
  padding: 10px;
}
tr
{
    margin: 20px;
    padding: 10px;
}