body
{
    background-color:#b0e0e6;
}
h1 
{
    color:#000000;
    margin: auto;
    width: 30%;
    border: 3px solid #ff0000;
    padding: 10px;
}
h2{
    color: #000000;
    width: 20%;
    border: 3px solid #ff0000;
    padding: 10px;
}
h3
{
    color: #000000;
    margin: auto;
    width: 30%;
    padding: 10px;
}
#personaldetail
{
    font-style: italic;
    width: 100%;
    border: 2px solid #ff0000;
    padding: 5px;  
}
#items
{
    color: #000000;
    width: 100%;
    border: 3px solid #ff0000;
    padding: 10px;  
    
}
.item-div
{
    color: #000000;
    width: 100%;
    border: 1px solid #ff0000;
    padding: 10px;      
    margin:auto;
}
