*{
    box-sizing: border-box;
   
}
h1{
    text-shadow: 2px 2px 5px blue;
}
.container{
    background-image: url(vote.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
}
.container
{
    width: 800px;
    margin: auto;
    border: 1px #000000 solid;
}
.head {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.link {
    text-align: center;
    padding: 10px;
    margin: 30px;
}
.nav
{
    margin: 10px;
    padding: 10px;
    width: 40%;
    margin-left: 180px;
    display: inline-block;
}
.navbar
{
    display: inline-block;
    width: 90%;
}
.search
{
    float: right;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}
.box
{

    width: 786px;
    height: 470px;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
}
#national img
{
    width: 300px;
    height: 74px;
    border: 2px solid black;
    float:left;
    padding: 10px;
    margin: 15px;
}
h2{
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
#national a
{
    margin-left: 40px;
    padding: 10px;
    float: left;
}
#national
{
    width: 50%;
    height: 100%;
    border: 2px solid black;
    float:left;
    padding : 5px;
}
h3
{
    margin: 10px;
    text-shadow: 2px 2px 5px red;
}
}
 address
 {
     margin: 10px;
 } 
#addres
{
    
    width: 45%;
    width: 48%;
    height: 45%;
    border: 2px solid black;
    float: left;
    margin: 5px;
}
#find
{
    width: 48%;
    height: 52%;
    border: 2px solid black;
    float: left;
    padding: 5px;
    margin:5px;
}
img
{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    float:left;
    padding: 10px;
    margin: 3px;
}
.social-img
{
    display: block;
    margin: 3px;
    height: 72px;
    width: 100px;
}
.s-contact {
    display: inline-block;
    width: 42%;
}

  
