*
{
    box-sizing: border-box;
}
.container{
    width: 800px;
    height: 600px;
    border: 2px #000000 solid;
    display: inline-block;
}
h1
{
    color: #ff0000;
    text-align: center;
}
.red
{
    height: 20px;
    width: 20px;
    padding: 20px;
    margin-left: 250px;
    margin-top: 50px;
    background-color: #ff0000;
    border-radius: 50%;
}
.voilet
{
    height: 18px;
    width: 18px;
    padding: 20px;
    margin-left: 400px;
    background-color: #ee82ee;
    border-radius: 50%;
}
.green
{
    height: 14px;
    width: 14px;
    padding: 20px;
    margin-left: 100px;
    background-color: #00ff00;
    border-radius: 50%;
}
.yellow
{
    height: 16px;
    width: 16px;
    padding: 20px;
    margin-left: 600px;
    background-color: #ffff00;
    border-radius: 50%;
}
.blue
{
    height: 18px;
    width: 18px;
    padding: 20px;
    margin-left: 350px;
    background-color: #0000ff;
    border-radius: 50%;
}
.result
{
    border: 2px #000000 solid;
    text-align: center;
    padding: 190px;
    width: 500px;
    height: 600px;
    float : right;
}