body 
{
    position: absolute;
    width: 300px;
    height: 225px;
    background: grey;
}
#box1
{
    position: absolute;
    width: 95%;
    height: 10%;
    left: 5%;
    top: 5%;
    background: white;
}
#box2 
{
    position: absolute;
    width: 95%;
    height: 10%;
    left: 5%;
    top: 65%;
    background: white;
}
#box3 
{
    position: absolute;
    width: 45%;
    height: 25%;
    left: 5%;
    top: 35%;
    background: white;
}
#box4 
{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 5%;
    top: 20%;
    background: white;
}
#box5 
{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 30%;
    top: 20%;
    background: white;
}
#box6 
{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 55%;
    top: 20%;
    background: white;
}
#box7 
{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 80%;
    top: 20%;
    background: white;
}
#box8 
{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 55%;
    top: 35%;
    background: white;
}
#box9 
{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 55%;
    top: 50%;
    background: white;
}
#box10
{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 80%;
    top: 35%;
    background: white;
}
#box11
{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 80%;
    top: 50%;
    background: white;
}



